.footer {
    margin-top: 32px;
    padding: 30px 20px;
    background: var(--footer);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    justify-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1000px;
    gap: 20px;
}

.footer-left h3 {
    margin: 0;
}

.footer-left p {
    font-size: 0.9rem;
    opacity: 0.7;
}

.footer-left hr {
    border: none;
    border-top: 1px solid var(--text);
}

.footer-left p a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.footer-left p a:hover {
    color: var(--text);
}


.footer-center {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0 2rem;
    border-left: 1px solid var(--text);
    border-right: 1px solid var(--text);
}

.footer-center a {
    text-decoration: none;
    color: inherit;
    opacity: 0.8;
    transition: 0.2s;
}

.footer-center a:hover {
    opacity: 1;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 2rem;
}

.social-title {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.social-icons img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.icon {
    font-size: 1.5rem;
    display: inline-block;
    transition: transform 0.2s;
    color: var(--text);
}

.icon:hover {
    transform: scale(1.2);
}

/* Abajo del todo */
.footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8rem;
    opacity: 0.6;
}

/* Responsive */
@media (max-width: 780px) {
    .footer-center {
        border-right: none;
    }

    .footer-right {
        width: stretch;
        align-items: center;
    }
}

@media (max-width: 490px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-center {
        border-left: none;
        padding: 0;
    }

    .footer-right {
        width: auto;
        align-items: baseline;
        padding: 0;
    }
}
