section {
    border-bottom: 1px solid #cacaca;
}

section:last-child {
    border-bottom: none;
}

.section-header {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.section-header h2 {
    margin: 0;
    margin-right: 1rem;
}

.see-more {
    font-size: 1rem;
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    transition: 0.2s;
}

    .see-more:hover {
        color: var(--text-h);
        transform: translateX(3px);
    }

.see-more span {
    font-family: fantasy;
    display: inline-block;
    transition: transform 0.2s;
}

    .see-more:hover span {
        transform: translateX(5px);
    }