.collection-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.collection-header button {
    margin-left: 1rem;
}

.collection-header h2 {
    margin: 0;
}

.delete-btn {
    background: #ff5252;
    transition: 0.2s;
}

.delete-btn:hover {
    background: #ff9494;
}