:root {
    /* Colores base */
    --bg: #ffffff;
    --text: #6b6375;
    --text-h: #08060d;
    --border: #e5e4e7;

    /* Acentos */
    --accent: #aa3bff;
    --accent-bg: rgba(170, 59, 255, 0.1);
    --accent-border: rgba(170, 59, 255, 0.5);

    /* Extras */
    --card-bg: #ffffff;
    --card-text: #111;
    --code-bg: #f4f3ec;
    --social-bg: rgba(244, 243, 236, 0.5);

    --shadow:
        rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}


/* Modo oscuro */
.dark {
    --bg: #121212;
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --border: #2e303a;

    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);

    --card-bg: #1e1e1e;
    --card-text: #ffffff;
    --code-bg: #1f2028;
    --social-bg: rgba(47, 48, 58, 0.5);

    --shadow:
        rgba(0, 0, 0, 0.4) 0 10px 15px -3px,
        rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
}

/* Elección automática del buscador */
@media (prefers-color-scheme: dark) {
    :root:not(.light) {
        --bg: #121212;
        --text: #9ca3af;
        --text-h: #f3f4f6;
        --border: #2e303a;

        --accent: #c084fc;
        --accent-bg: rgba(192, 132, 252, 0.15);
        --accent-border: rgba(192, 132, 252, 0.5);

        --card-bg: #1e1e1e;
        --card-text: #ffffff;
        --code-bg: #1f2028;
        --social-bg: rgba(47, 48, 58, 0.5);

        --shadow:
            rgba(0, 0, 0, 0.4) 0 10px 15px -3px,
            rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
    }
}